# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Docker
docker-compose.override.yml

# IDEs
.vscode/
.idea/

# DB
*.sqlite3
sql_app.db
